h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

input {
  font-family: inherit;
}

input:focus,
textarea:focus {
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #region menu */
.header-menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.logo-text {
  color: #2e2f42;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link,
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.active-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
/* #endregion menu */

/* #region contacts */
.contacts-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/* #endregion contacts */

/* #endregion header */

/* #region main */
.section {
  padding: 120px 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* #region hero */
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto 48px auto;
  text-align: center;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* #endregion hero */

/* #region advantages */
.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  flex-basis: calc((100% - 72px) / 4);
}

.advantages-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
/* #endregion advantages */

/* #region our team */
.team-section {
  background-color: #f4f4fd;
}

.team-card {
  display: flex;
  gap: 24px;
}

.team-card-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-blank {
  padding: 32px 0;
}

.team-card-title {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-card-profesion {
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-icon {
  fill: #f4f4fd;
}
/* #endregion our team */

/* #region portfolio */
.portfolio-card {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.portfolio-card-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: #4d5ae5;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-card-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card-blank {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
/* #endregion portfolio */

/* #endregion main */

/* #region footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* #region footer logo */
.footer-logo-container {
  margin-right: 120px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-text {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
/* #endregion footer logo */

/* #region footer social */
.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}
/* #endregion footer social */

/* #region footer subscribe */
.footer-subscribe-wrap {
  margin-left: auto;
}

.footer-title {
  margin-bottom: 16px;
}

.footer-subscribe {
  display: flex;
  gap: 24px;
}

.footer-subscribe-email {
  background-color: transparent;
  padding: 8px 16px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-email:focus {
  outline: none;
  border-color: #31d0aa;
}

.footer-subscribe-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-subscribe input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-subscribe-btn {
  min-width: 165px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn svg {
  margin-left: 16px;
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #31d0aa;
}

.footer-subscribe-icon {
  fill: #ffffff;
}
/* #endregion footer subscribe */

/* #endregion footer */

/* #region modal */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  padding: 72px 24px 24px;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  right: 24px;
  top: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.btn-close svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover svg,
.btn-close:focus svg {
  fill: #ffffff;
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-form-group {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-group:focus-within svg {
  fill: #4d5ae5;
}

.modal-form-items {
  position: relative;
}

.modal-form input {
  background-color: transparent;
  outline: transparent;
  padding: 8px 8px 8px 38px;
  color: #2e2f42;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form input:focus,
.modal-form textarea:focus {
  border-color: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-wrap {
  margin-bottom: 16px;
}

.modal-form-textarea {
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-checkbox {
  margin-bottom: 24px;
}

.pryvacy-label {
  cursor: pointer;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.castom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  fill: transparent;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox input:focus + .pryvacy-label .castom-checkbox {
  border-color: #4d5ae5;
}

.form-checkbox input:checked + .pryvacy-label .castom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-link {
  margin-left: 4px;
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-form-btn {
  display: block;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  background-color: #4d5ae5;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #404bbf;
}
/* #endregion modal */
