.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

input {
  font-family: inherit;
}

input:focus,
textarea:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  max-width: 320px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  right: 24px;
  top: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding: 96px 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .button:hover,
  .button:focus,
  .btn-close:hover,
  .btn-close:focus {
    background-color: #404bbf;
  }

  .btn-close svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn-close:hover svg,
  .btn-close:focus svg {
    fill: #ffffff;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding: 120px 0;
  }
}

/* main */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #region header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list,
.contacts {
  display: none;
}

.logo {
  display: block;
  padding: 16px 0;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}

.logo-text {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  background-color: transparent;
}

.burger-btn-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-menu {
    display: flex;
    align-items: center;
  }

  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .menu-list {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
  }

  .active-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .contacts {
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .contacts-item {
    line-height: 0;
  }

  .contact-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .active-link,
  .menu-link:hover,
  .menu-link:focus,
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    column-gap: 40px;
  }

  .contact-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #ffffff;
  transform: translateY(-100%);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 350ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 350ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: 40px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-link.active-link {
  color: #404bbf;
}

.mobile-menu-contacts {
  margin-bottom: 48px;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.mobile-contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-contact-link.active-link {
  color: #4d5ae5;
}

.mobile-social-list {
  display: flex;
  column-gap: 40px;
}

.mobile-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: #404bbf;
}

.mobile-social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .burger-modal {
    display: none;
  }
}

/* #endregion header */

/* #region hero */

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-mobile.jpg);
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
}

.hero-title {
  max-width: 216px;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  margin: 0 auto 72px;
  text-align: center;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tablet.jpg);
    max-width: 768px;
    padding: 112px 0;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-desktop.jpg);
    background-color: #2e2f42;
    max-width: 1440px;
    padding: 188px 0;
  }

  .hero-title {
    margin: 0 auto 48px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-desktop@2x.jpg);
  }
}
/* #endregion hero */

/* #region advantages */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.advantages-card {
  display: none;
}

.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.advantages-desc {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    column-gap: 24px;
  }

  .advantages-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .advantages-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .advantages-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .advantages-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    margin-bottom: 8px;
  }

  .advantages-title {
    font-weight: 500;
    font-size: 20px;
  }

  .advantages-desc {
    font-weight: 400;
  }
}
/* #endregion advantages */

/* #region our team */
.team-section {
  background-color: #f4f4fd;
}

.team-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}

.team-card-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-blank {
  padding: 32px 0;
}

.team-card-title {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-card-profesion {
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.team-social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-card {
    column-gap: 24px;
  }

  .team-social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-social-link:hover,
  .team-social-link:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .team-card-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
/* #endregion our team */

/* #region portfolio */
.portfolio-card {
  display: flex;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-card-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay {
  display: none;
}

.portfolio-card-blank {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .portfolio-card {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-card-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .portfolio-card-item img {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-card {
    row-gap: 48px;
  }

  .portfolio-card-item {
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-card-item img {
    width: 360px;
  }

  .portfolio-card-overlay {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    display: block;
    background-color: #4d5ae5;
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-card-item:hover .overlay {
    transform: translateY(0);
  }

  .portfolio-card-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
/* #endregion portfolio */

/* #region footer */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}

.footer-title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-logo {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-text {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-subscribe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 16px;
}

.footer-subscribe-email {
  background-color: transparent;
  padding: 8px 16px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-subscribe-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-subscribe-btn {
  min-width: 165px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.footer-subscribe-btn svg {
  margin-left: 16px;
}

.footer-subscribe-icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer .container {
    column-gap: 24px;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0 108px;
  }

  .footer-title {
    text-align: left;
  }

  .footer-logo-container {
    display: block;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-social-link,
  .footer-subscribe-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:hover,
  .footer-social-link:focus,
  .footer-subscribe-btn:hover,
  .footer-subscribe-btn:focus {
    background-color: #31d0aa;
  }

  .footer-subscribe {
    gap: 24px;
  }

  .footer-subscribe-email {
    width: 264px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-subscribe-email:focus {
    outline: none;
    border-color: #31d0aa;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer .container {
    padding: 0 15px;
  }

  .footer-logo-container {
    margin-right: 120px;
  }

  .footer-subscribe-wrap {
    margin-left: auto;
  }

  .footer-subscribe-email {
    border-color: #fff;
  }

  .footer-subscribe-email::placeholder {
    color: #ffffff;
  }
}
/* #endregion footer */

/* #region modal */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  padding: 72px 16px 24px;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-form-group {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-items {
  position: relative;
}

.modal-form input {
  background-color: transparent;
  outline: transparent;
  padding: 8px 8px 8px 34px;
  color: #2e2f42;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
}

.modal-textarea-wrap {
  margin-bottom: 16px;
}

.modal-form-textarea {
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-checkbox {
  margin-bottom: 24px;
}

.pryvacy-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.castom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  fill: transparent;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox input:checked + .pryvacy-label .castom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-link {
  line-height: 1.34;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }

  .modal-form-group:focus-within svg {
    fill: #4d5ae5;
  }

  .modal-form-textarea,
  .modal-form input {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-form input:focus,
  .modal-form textarea:focus {
    border-color: #4d5ae5;
  }

  .modal-form-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-checkbox input:focus + .pryvacy-label .castom-checkbox {
    border-color: #4d5ae5;
  }
}

@media screen and (min-width: 1158px) {
  .modal-form input {
    padding: 8px 8px 8px 38px;
  }
}
/* #endregion modal */
